extends layout

block content
  h2= book.title
  p 
    | Are you sure you want to delete 
    em= book.title
    | ?
  form(action="/book/" + book.id + "/delete", method="post")
    a(href="/book/" + book.id) No! Take me back! 
    | 
    input(type="submit", value = "Yes, I'm sure")